cffi==1.15.0
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
ply==3.11; python_version >= "3.6" and python_version < "4.0"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
pycparserext==2021.1; python_version >= "3.6" and python_version < "4.0"
shellingham==1.4.0; python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
